<footer>
  <div class="footer-wrap">
    <div class="footer-tagline">
      <p>{{ site.data.settings.footer }}</p>
    </div>
    <div class="social-media">
      <nav>
        {% for item in site.data.settings.social %}
          <a href="{{ item.link }}" target="_blank"><i class="{{ item.icon }}" aria-hidden="true"></i></a>
        {% endfor %}
      </nav>
    </div>
    <p class="lead" style="font-variant:small-caps">
    </p>
    <!-- Webcarbon badge -->
    <div id="wcb" class="carbonbadge wcb-d">
    <style>
    #wcb.carbonbadge {
      --b1: #881C1C;
      --b2: #e5eaee;
      font-size: 15px;
      color: var(--b1);
      line-height: 1.15;
    }
    #wcb.carbonbadge sub{vertical-align:middle;position:relative;top:.3em;font-size:.7em}#wcb #wcb_2,#wcb #wcb_a,#wcb #wcb_g{display:inline-flex;justify-content:center;align-items:center;text-align:center;font-size:1em;line-height:1.15;font-family:-apple-system,BlinkMacSystemFont,sans-serif;text-decoration:none;margin:.2em 0}#wcb #wcb_a,#wcb #wcb_g{padding:.3em .5em;border:.13em solid var(--b2)}
    #wcb #wcb_g {
        border-radius: 0.3em 0 0 0.3em;
        background: #881c1c;
        border-right: 0;
        min-width: 8.2em;
        color: #FFFFFF;
    }
    #wcb #wcb_a{border-radius:0 .3em .3em 0;border-left:0;background:var(--b1);color:#fff;font-weight:700;border-color:var(--b1)}#wcb.wcb-d #wcb_a{color:var(--b1);background:var(--b2);border-color:var(--b2)}
    #wcb.wcb-d #wcb_2 {
        color: #1e0606;
    }
    </style>
    <div id="wcb_p"><span id="wcb_g">0.19g of CO<sub>2</sub>/view</span><a id="wcb_a" target="_blank" rel="noopener" href="https://websitecarbon.com">Website Carbon</a></div><span id="wcb_2">Cleaner than 81% of pages tested</span>
    </div>
    
  </div>
</footer>
