\:root
  font-family: Inter, sans-serif
  font-feature-settings: 'liga' 0, 'calt' 0

@supports (font-variation-settings: normal)
  \:root
    font-family: InterVariable, sans-serif

body
  background: white
  font-size: 16px
.site-container
  width: 950px
  margin: auto

@media (max-width: 968px)
  .site-container
    width: 95vw
