---
---

<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.data.settings.seo.description }}">
  <meta rel="author" href="{{ site.data.settings.seo.rel-author }}">
  <meta rel="publisher" href="{{ site.data.settings.seo.rel-publisher }}">
  <meta property="og:description" content="Adam Lechowicz is a computer science doctoral student at the University of Massachusetts Amherst." />
  <meta property="og:image" content="https://adamlechowicz.github.io/assets/img/500x300.png" />
  <link rel="preconnect" href="https://rsms.me/">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }}
    {% else %}
      {{ page.title }} | {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/all.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/inter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">  

  <!-- Use Atom -->
  <!-- {% feed_meta %} -->

  <!-- <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
  </script> -->

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXKSP560GD"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YXKSP560GD');
  </script>

</head>
<body>

<!-- <div class="ribbon-container">
    <div class="ribbon red"></div>
    <div class="ribbon orange"></div>
    <div class="ribbon yellow"></div>
    <div class="ribbon green"></div>
    <div class="ribbon blue"></div>
    <div class="ribbon indigo"></div>
    <div class="ribbon violet"></div>
</div> -->

<div class="site-container">

  {% include header-front.html %}

  {{ content }}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="{{ site.github.url }}/assets/js/functions.js"></script> -->
</body>
</html>
